@import "../../style/variables.scss";

.container {
  position: relative;
  padding: 73px 30px 50px 30px;
  margin: auto;
  background-color: #fff;
  max-width: $large1620;
  @media screen and (max-width: 1024px) {
    padding: 73px 15px 50px 15px;
  }
  @media screen and (max-width: 540px) {
    padding: 73px 5px 25px 5px;
  }
}
// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: black;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius: 6px
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

