.infoBlock {
  padding: 30px;
}

.infoBlock_title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.infoBlock_text {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}