@import '../../../style/variables.scss';
tbody > tr:last-of-type > td {
  border-bottom: 1px solid $tableBorder;
}
 
tbody > tr:last-of-type > td:last-of-type {
  border-bottom: none;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 40px;
      bottom: -0.5px;
      left: 0;
      background-color: $tableBorder;
    }
}
button {
  cursor: pointer;
}
.cart {
  &__wrapper{
    width: 100%;
    outline: 1px solid #d7000067;
    
  }
  &__table{
    width: 1350px;
    margin: auto;
    border-collapse: collapse;
    max-height: 70px;
    &_delete {
      border: none;
    }
    .borderNone {
      border: none;
    }
    &_summaryTitle {
      background-color: $blackBg;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $tableBorder;
      .summaryTitle {
        color: $lightWhite;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    &_summaryWrapper {
      background-color: $lightGrey;
      height: 70px;
      padding: 0;
      text-align: center;
      border: 1px solid $tableBorder;
      & > div:nth-child(1) {
        border-bottom: 1px solid $tableBorder;
      }
      & > div {
        height: 50%;
      }
      .nationalSummary {
        height: 100%;
        line-height: 1.45;
        font-size: 22px;
        font-weight: bold;
        text-decoration: underline;
      }
      .internationalSummary {
        height: 100%;
        line-height: 2;
        text-decoration: underline;
        font-weight: 600;
      }
    }
  }
  &__grid {
    &_header {
      display: grid;
      grid-template-columns: 70px 188px 584px 143px 135px 160px;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      border-bottom: 1px solid black;
      width: 1350px;
      margin: auto;
      margin-bottom: 25px;
      font-weight: 600;
      
    }
    &_header_col1 { 
      grid-area: 1 / 1 / 2 / 2;
      max-width: 70px;
      display: flex;
      justify-content: center; 
    }
    &_header_col2 { 
      grid-area: 1 / 2 / 2 / 3;
      max-width: 188px;
      display: flex;
      justify-content: center; 
    }
    &_header_col3 { 
      grid-area: 1 / 3 / 2 / 4;
      max-width: 584px;
      display: flex;
      justify-content: center; 
    }
    &_header_col4 { 
      grid-area: 1 / 4 / 2 / 5;
      max-width: 143px;
      display: flex;
      justify-content: center;
    }
    &_header_col5 { 
      grid-area: 1 / 5 / 2 / 6;
      max-width: 135px;
      display: flex;
      justify-content: center;
    }
    &_header_col6 { 
      grid-area: 1 / 6 / 2 / 7;
      max-width: 160px;
      display: flex;
      justify-content: center;
    }
    
    &_colName {
      font-size: 16px;
      text-transform: uppercase;

    }
    &_footer {
      width: 1350px;
      margin: auto;
    }
  }
  &__downloadOrder {
    width: 1350px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > button {
        border-radius: 5px;
        border: 2px solid $lightGrey;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.56);
        background-color: $lightWhite;
        display: flex;
        align-items: center;
        padding: 4px 17px;
        font-weight: 600;
        margin-bottom: 6px;
        .downloadIcon {
          background-image: url('../../../assets/svg/download.svg');
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-left: 4px;

        }
      }
      & > p {
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  &__commentToOrder {
    width: 1350px;
    margin: auto;
    margin-bottom: 15px;
    &_wrapper {
      max-width: 277px;
      display: flex;
      margin: auto;
      justify-content: center;
      flex-direction: column;
      & > textarea {
        border-radius: 5px;
        border: 2px solid $lightGrey;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.56);
        background-color: $lightWhite;
      }
      & > button {
        border-radius: 5px;
        border: 2px solid $lightGrey;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.56);
        background-color: #E9E8E5;
        color: $tableBorder;
        font-weight: 600;
        font-size: 12px;
        padding: 4px 17px;
        text-transform: uppercase;
        margin-top: 15px;
        &:hover {
          color: black;
          background-color: $lightWhite;
        }
      }
    }
  }
  &__orderBtn {
    width: 1350px;
    margin: auto;
    & > div {
      max-width: 455px;
      min-width: 340px;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      & > p {
        font-size: 11px;
        font-weight: bold;
        text-align: center;
      }
      & > button {
        border-radius: 5px;
        border: 2px solid $lightGrey;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.56);
        background-color: $lightWhite;
        padding: 4px 17px;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        width: 300px;
        height: 45px;
        margin-bottom: 6px;
      }
    }
  }
}