@import "../../../../style/variables.scss";

.mobile {
  &_modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: $hardGrey;
    z-index: 1000;
    animation: MobileMenu_slide-down__rdixe 300ms ease-out forwards;
    overflow: hidden;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_cross {
    display: flex;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
  }
}

.cross {
  fill: $lightWhite;
  width: 35px;
  height: 35px;
  &:hover {
    scale: 1.05;
    cursor: pointer;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.userMob {
  width: 45px;
  height: 45px;
  fill: $lightWhite;
  &:hover {
    scale: 1.05;
    cursor: pointer;
  }
}

.userMob_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
