@import "../../../../../../style//variables.scss";

.productItem_price {
	display: flex;
	flex-direction: column;
	p {
		text-align: left;
	}
	span {
		border-bottom: 1px solid $hardGrey;
		font-size: 20px;
		text-align: left;
	}
	span > span {
		margin-left: 3px;
		border-bottom: none;
		font-size: 16px;
	}
	.quontityText {
		display: inline-block;
		width: 116px;
		border: none;
		font-size: 16px;
		text-align: left;
	}
	@media screen and (max-width: 1024px) {
		align-items: center;
	}
}
.last {
	position: relative;
	left: 15%;
	display: inline-block;
}