@media screen and (min-width: 1024px) {
  .orderDetails td {
    border: 1px solid #929191;
    border-bottom: 2px solid #929191;
  }
}
@media screen and (max-width: 1023px) {
  .orderDetails td {
    border: 1px solid #929191;
    border-bottom: 2px solid #929191;
  }
}
.orderDetails th {
  border-top: 2px solid #929191;
  border-bottom: 1px solid #929191;
  border-right: 1px solid #929191;
  background-color: #bcbab5;
}
.orderDetails th:first-of-type {
  border-left: 2px solid #929191;
  border-right: 1px solid #929191;
}
.orderDetails th:last-of-type {
  border-right: 2px solid #929191;
}
.orderDetails__table_number {
  width: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1310px) {
  .orderDetails__table_number {
    width: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .orderDetails__table_number {
    width: 10%;
    border-left: 2px solid #929191;
  }
}
@media screen and (max-width: 540px) {
  .orderDetails__table_number {
    height: 40px;
    border-left: 2px solid #929191;
    border-right: 2px solid #929191;
  }
}
.orderDetails__table_picture {
  width: 188px;
  text-align: center;
  height: 70px;
}
@media screen and (max-width: 1310px) {
  .orderDetails__table_picture {
    width: 120px;
  }
}
@media screen and (max-width: 1023px) {
  .orderDetails__table_picture {
    width: 25%;
  }
}
@media screen and (max-width: 540px) {
  .orderDetails__table_picture {
    height: 120px;
    border-left: 2px solid #929191;
    border-right: 2px solid #929191;
  }
}
.orderDetails__table_picture > div {
  background-size: contain;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 118px;
}
@media screen and (max-width: 540px) {
  .orderDetails__table_picture > div {
    height: 120px;
  }
}
.orderDetails__table_title {
  width: 566px;
  padding: 0 18px;
  min-width: 171px;
}
@media screen and (max-width: 1310px) {
  .orderDetails__table_title {
    width: 296px;
  }
}
@media screen and (max-width: 1023px) {
  .orderDetails__table_title {
    width: 55%;
  }
}
@media screen and (max-width: 540px) {
  .orderDetails__table_title {
    height: 70px;
    border-left: 2px solid #929191;
    border-right: 2px solid #929191;
  }
}
.orderDetails__table_title_row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  margin-top: -2px;
}
.orderDetails__table_title_row1 h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1310px) {
  .orderDetails__table_title_row1 h2 {
    max-width: 195px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.orderDetails__table_title_row1 .favorite {
  width: 25px;
  height: auto;
  display: inline-block;
  cursor: pointer;
}
.orderDetails__table_title_row1 .favorite .activeFavorite {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  background-image: url("../../../../assets/svg/black_heart.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.orderDetails__table_title_row1 .favorite .hoverFavorite {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  background-image: url("../../../../assets/svg/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.orderDetails__table_title_row1 .favorite .hoverFavorite:hover {
  background-image: url("../../../../assets/svg/black_heart.svg");
  opacity: 0.8;
}
.orderDetails__table_title_row2 {
  display: flex;
  justify-content: flex-end;
}
.orderDetails__table_title_row2 .product_sku {
  background-color: #bcbab5;
  border-radius: 2px;
  color: black;
  padding: 2px 5px;
  font-weight: 600;
}
.orderDetails__table_title_row2 .product_sku > span {
  text-transform: uppercase;
}
.orderDetails__table_price {
  width: 143px;
  height: 70px;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .orderDetails__table_price {
    height: 70px;
    border-left: 2px solid #929191;
    width: 50%;
  }
}
.orderDetails__table_price > div:nth-child(1) {
  border-bottom: 1px solid #bcbab5;
}
.orderDetails__table_price > div {
  height: 50%;
}
.orderDetails__table_price .nationalPrice {
  height: 100%;
  line-height: 1.45;
  font-size: 22px;
  font-weight: bold;
}
.orderDetails__table_price .internationalPrice {
  height: 100%;
  line-height: 2;
}
.orderDetails__table_quantity {
  width: 135px;
  height: 70px;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .orderDetails__table_quantity {
    height: 70px;
    border-right: 2px solid #929191;
    width: 50%;
  }
}
.orderDetails__table_quantity > div:nth-child(1) {
  border-bottom: 1px solid #bcbab5;
}
.orderDetails__table_quantity > div {
  height: 50%;
}
.orderDetails__table_quantity > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 120px;
  margin: auto;
}
.orderDetails__table_quantity > div:nth-child(2) .inputDisable {
  position: absolute;
  width: 88px;
  height: 25px;
  display: inline-block;
  z-index: 3;
  left: 0px;
}
@media screen and (max-width: 1024px) {
  .orderDetails__table_quantity > div:nth-child(2) .inputDisable {
    left: 0px;
  }
}
.orderDetails__table_quantity > div:nth-child(2) .navigationWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 4px;
}
.orderDetails__table_quantity > div:nth-child(2) .navigationWrapper .itemUp {
  width: 10px;
  height: 12px;
  background-image: url("../../../../assets/svg/up-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.orderDetails__table_quantity > div:nth-child(2) .navigationWrapper .itemDown {
  width: 10px;
  height: 12px;
  background-image: url("../../../../assets/svg/up-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  cursor: pointer;
}
.orderDetails__table_quantity .minQuantity {
  font-size: 12px;
  font-weight: 900;
  height: 100%;
}
.orderDetails__table_quantity input {
  background-color: #f8f7f0;
  border-radius: 5px;
  border: 2px solid #bcbab5;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.56);
  width: 88px;
  height: 25px;
  padding: 0 10px;
  font-weight: 600;
  margin-right: 5px;
  outline: none;
}
.orderDetails__table_quantity p {
  font-size: 16px;
  font-weight: 600;
}
.orderDetails__table_summaryPrice {
  width: 160px;
  height: 70px;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .orderDetails__table_summaryPrice {
    height: 70px;
    border-left: 2px solid #929191;
    border-right: 2px solid #929191;
  }
}
.orderDetails__table_summaryPrice > div:nth-child(1) {
  border-bottom: 1px solid #bcbab5;
}
.orderDetails__table_summaryPrice > div {
  height: 50%;
  background-color: #f2f2f2;
}
.orderDetails__table_summaryPrice .nationalSummary {
  height: 100%;
  line-height: 1.45;
  font-size: 22px;
  font-weight: bold;
}
.orderDetails__table_summaryPrice .internationSummary {
  height: 100%;
  line-height: 2;
}
@media screen and (min-width: 1023px) {
  .orderDetails__table_basket {
    border: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .orderDetails__table_basket:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 40px;
    top: -0.5px;
    left: 0;
    background-color: #929191;
  }
  .orderDetails__table_basket:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    bottom: -1px;
    left: 0;
    background-color: #929191;
  }
  .orderDetails__table_basket .icon {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    z-index: 2;
    background-image: url("../../../../assets/svg/basket/shopping-cart.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    cursor: pointer;
  }
  .orderDetails__table_basket .icon:hover {
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #f2f2f2;
    background-size: 35px 35px;
  }
}
.orderDetails__table_basket_middle {
  position: relative;
  width: 10%;
  border-right: 2px solid #929191;
}
@media screen and (max-width: 540px) {
  .orderDetails__table_basket_middle {
    height: 70px;
    border: 2px solid #929191;
    border-top: 1px solid #929191;
  }
}
.orderDetails__table_basket_middle .icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("../../../../assets/svg/basket/shopping-cart.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
  top: 0;
}
.orderDetails__table_basket_middle .icon:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-size: 35px 35px;
}/*# sourceMappingURL=TableBody.module.css.map */