@import "../../style/variables.scss";

.container__sidebar_slider {
  display: flex;
    justify-content: space-between;
    gap: 50px;
    /* padding: 0 30px; */
    /* margin: auto;
    background-color: #fff; */
    /* width: $large1620; */
    height: 508px;
    align-items: flex-end;
}