@import '../../style/variables.scss';

.menu {
  &__wrapper{
    position: absolute;
    width: auto;
    display: block;
    height: auto;
    z-index: 50;
    top: 23px;
  }
  &__content {
    // position: absolute;
    width: 330px;
    height: 445px;
    background: $hardGrey;
    left: 0;
    top: 23px;
    border: 1px solid $lightWhite;
    border-radius: 2px;
    overflow: scroll;
    z-index: 50;
    & > div {
      margin: 0;
      padding: 0;
    }
    &__link {
        text-decoration: none;
        border-bottom: 1px solid $lightWhite;
        height: auto;
        display: block;
        color: $lightWhite;
        font-size: $h2;
        padding-left: 17px;
        color: #f8f7f0;
        text-transform: uppercase;
        position: relative;
        padding: 10px 0px 10px 17px;
        transition: all 0.2s;
        &:hover {
          background-color: $lightWhite;
          color: $hardGrey;
          padding: 10px 0px 10px 32px;
        }
      }
    }
  }

  .activeCategory {
    background-color: $lightWhite;
    color: $hardGrey;
    padding: 10px 0px 10px 32px;
  }
  .hidden {
    display: none;
  }
  .sidebar{
    display: block;
    top: 0;
  }