@import '../../style/variables.scss'; 

.container__footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $hardGrey;
    max-width: $large1620;
    height: 63px;
    padding: 0 30px;
    margin: auto;
    box-shadow: 0px 0px 7px 1px $hardGrey;
    @media  screen and (max-width: 740px) {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
}

.text{
   color: #bcbab5;
   font-size: $p;
}

.exchageContainer {
    display: flex;
    align-items: center;
    @media screen and (max-width: 540px) {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .textSmall {
        display: none;
        align-items: center;
        font-size: $p; 
        color: $lightWhite;
        margin-right: 24px;
        text-transform: uppercase;
        .textRate {
            font-size: $h2; 
            margin: 0 5px;
            color: $lightWhite;
        }
    }
}
