@import '../../style/variables.scss'; 

.wrapperFooter{
    display:flex;
    justify-content: space-between;
    background-color: $hardGrey;
    // position: absolute;
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    height: 63px;
}

.text{
   color: #bcbab5;
   font-size: $p20;
}

.exchageContainer {
    display: flex;
    align-items: center;
    .textSmall {
        display: flex;
        align-items: center;
        font-size: $p; 
        color: $lightWhite;
        margin-right: 24px;
        .textRate {
            font-size: $h2; 
            margin: 0 5px;
        }
    }
}
