@import "../../style/variables.scss";

.mainWrapper {
  padding-top: 15px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 20px 15px;
    border-bottom: 1px solid $solidBlack;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

	.breadcrumbsContainer {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.titleWrapper {
		width: 100%;
		text-align: center;
		div {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.titleContainer {
		display: inline-block;
		.lineContainer {
			padding-right: 7.5%;
			padding-left: 7.5%;
		}
		.line {
			border-bottom: 1px solid $solidBlack;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

  .title {
		display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  .wrapperListCards {
    margin-top: -70px;
    @media screen and (max-width: 630px) {
      margin-top: 0px;
    }
  }
}
