@import "../../style/variables.scss";

.mainWrapper {
  padding-top: 15px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 20px 15px;
    border-bottom: 1px solid $solidBlack;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }

  .wrapperListCards {
    margin-top: -70px;
    @media screen and (max-width: 630px) {
      margin-top: 0px;
    }
  }
}
