@import "../../../style/variables.scss";

.menu {
  &__hamburger {
    position: relative;
    margin-right: 58px;
    z-index: 50;
    svg {
      width: 25px
    }
  }
  &__wrapper{
    position: relative;
    width: auto;
    display: block;
    height: auto;
    z-index: 50;
  }
}