@import "../../../style/variables.scss";

.menu {
  &__hamburger {
    position: relative;
    margin-right: 58px;
    z-index: 50;
    @media screen and (max-width: 1420px) {
      margin-right: 20px;
    }
    @media screen and (max-width: 640px) {
      margin-right: 20px;
    }
  }
  &__icon {
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
}