@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import './style/variables.scss';

#root, html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
}
section {
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}
p{
    margin: 0;
    padding: 0;
}

h2 {
  font-size: $h2;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}