@import '../../../style/variables.scss';

.menu {
    &__content{
      & > div {
        margin: 0;
        padding: 0;
      }
      &__link {
          text-decoration: none;
          // white-space: nowrap;
          border-bottom: 1px solid $lightWhite;
          height: auto;
          display: block;
          color: $lightWhite;
          font-size: $p;
          padding-left: 17px;
          color: #f8f7f0;
          text-transform: uppercase;
          position: relative;
          padding: 10px 0px 10px 17px;
          transition: all 0.2s;
          &:hover {
            background-color: $lightWhite;
            color: $hardGrey;
            padding: 10px 0px 10px 32px;
          }
        }
    }
    &__subContent {
    position: absolute;
    width: 330px;
    max-height: 445px;
    background: $hardGrey;
    right: -330px;
    border: 1px solid $lightWhite;
    border-radius: 2px;
    overflow: scroll;
    top: 0;
    padding-left: 5px;
    }
  } 
  
  .hidden {
    display: none;
  }
  .sidebar{
    display: block;
    top: 0;
  }

  .subContent {
    position: absolute;
    width: 330px;
    height: 445px;
    background: $hardGrey;
    right: -660px;
    border: 1px solid $lightWhite;
    border-radius: 2px;
    overflow: scroll;
    top: 23px;
  }