@import "../../../../style/variables.scss";

.image {
  width: 45px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
  &:hover {
    background-color: $lightWhite;
  }
}

.wrapper {
	display: flex;
  flex-basis: 77%;
  justify-content: space-between;
	padding-right: 0;
	padding-left: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}

.wrapperFirst {
  margin-right: 110px;
}

.title {
	padding-left: 15px;
}

.lineContainer {
	text-align: right;
}

.line {
	display: inline-block;
	width: 85%;
	border-bottom: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.price {
	padding-right: 15px;
}

.productItem_quantity {
	display: flex;
	align-items: center;
	gap: 12px;
	padding-left: 15px;
	margin-bottom: 5px;
	&_info {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 68px;
		height: 21px;
		border: 1px solid $hardGrey;
		border-radius: 3px;
		margin-top: 0;
		background-color: $lightWhite;
		outline: none;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.minus {
		width: 22px;
		height: 22px;
		cursor: pointer;
		img {
			width: 22px;
			height: 6px;
		}
		&:active {
			scale: 1.1;
		}
	}
	.plus {
		width: 22px;
		height: 22px;
		cursor: pointer;
		img {
			width: 22px;
			height: 22px;
		}
		&:active {
			scale: 1.1;
		}
	}
	@media screen and (max-width: 1024px) {
		justify-content: center;
	}
}

.garbage {
  background-image: url("../../../../assets/svg/basket/garbage.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  width: 43px;
  height: 67px;
  cursor: pointer;
  &:hover {
    background-image: url("../../../../assets/svg/basket/garbage_active.svg");
    background-size: 20px;
    width: 43px;
    height: 67px;
  }
}
